@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.text-lfs {
  background: linear-gradient(
    90deg,
    rgb(236, 146, 222) 0%,
    rgb(184, 142, 232) 39%,
    rgb(98, 202, 223) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.text {
  text-shadow: #ffffff 0 0 12px, #f31ac8 0 0 25px, #f105c6 0 0 35px,
    #ee06a5 0 0 45px;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.icon {
  color: white;
}
.glass-bg {
  background: rgba(255, 152, 245, 0.1);
  box-shadow: 0 8px 32px 0 black;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid #ec92de;
}
.pink-bg {
  background-color: rgb(236, 146, 222);
}
